.title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    letter-spacing: 0.04em;
    color: var(--black-color);
  }

.icon_plus {
    width: 40px;
    height: 40px;
    fill: var(--accent-color);
}

.button_add {
    display: flex;
    background-color: var(--bg-color);
    border: 0;
    padding: 0;
    margin: 0;
    gap: 15px;
    align-items: center;
}

.text_button {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    letter-spacing: 0.04em;
    color: var(--black-color);
}

.header_my_pets {
    display: flex;
   flex-direction: row; 
   justify-content: space-between;
   align-items: center;
   margin-bottom: 26px;
}

@media screen and (min-width: 768px) {
    .title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 1.4;
        display: flex;
        letter-spacing: 0.04em;
        color: var(--black-color);
      }
    
    .icon_plus {
        width: 40px;
        height: 40px;
        fill: var(--accent-color);
    }
    
    .button_add {
        display: flex;
        background-color: var(--bg-color);
        border: 0;
        padding: 0;
        margin: 0;
        gap: 15px;
        align-items: center;
    }
    
    .text_button {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.4;
        display: flex;
        letter-spacing: 0.04em;
        color: var(--black-color);
    }
    
    .header_my_pets {
        display: flex;
       flex-direction: row; 
       justify-content: space-between;
       align-items: center;
       margin-bottom: 24px;
    }   
}

@media screen and (min-width: 1280px) {
    .title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 1.4;
        display: flex;
        letter-spacing: 0.04em;
        color: var(--black-color);
      }
    
    .icon_plus {

        width: 40px;
        height: 40px;
        fill: var(--accent-color);
    }
    
    .button_add {
        position: relative;
        display: flex;
        background-color: var(--bg-color);
        border: 0;
        padding: 0;
        margin: 0;
        gap: 15px;
        align-items: center;
    }
    
    .text_button {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.4;
        display: flex;
        letter-spacing: 0.04em;
        color: var(--black-color);
    }
    
    .header_my_pets {
        display: flex;
       flex-direction: row; 
       justify-content: space-between;
       align-items: flex-start;
       margin-bottom: 24px;
       margin-top: -13px;
    }   
}