.SearchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 608px;
    height: 44px;
    background-color: #fff;
    border-radius: 40px;
    overflow: hidden;

}

.Input {
    display: inline-block;
    width: 100%;
    font: inherit;
    font-size: 20px;
    border: none;
    outline: none;
    padding-left: 20px;
    padding-right: 4px;
    color:#535353;
    letter-spacing: 0.04em;
}

.SearchIcon {
    width: 17.49px;
    height: 17.49px;
    padding-top: 13px;
    padding-right: 15.51px;
    padding-bottom: 13px;
}

.ClearIcon {
    width: 6px;
    height:6px;
}
