.svg_camera {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  stroke: var(--accent-color);
  fill: var(--white-color);
}

/* .button_edit {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: var(--white-color);
} */

.container_edit {
  margin-right: 24px;
  margin-left: auto;
  width: 85px;
}

.field_photo {
  display: flex;
  align-items: center;
  outline-color: var(--accent-color);
  cursor: pointer;
  font-size: 12px;
  /* background-image: url(../../../../images/camera.png); */
  /* background-repeat: no-repeat; */
}

.field_photo:hover,
.field_photo:focus {
  outline-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  background-color: var(--white-color);
}

.input_file {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
