.svg_camera {
    width: 18px;
    height: 18px;
    stroke : var(--accent-color);
    fill: var(--white-color);
}

.button_edit {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: var(--white-color);
}

.container_edit {
    margin-right: 24px;
    margin-left: auto;
    width: 85px;
}