.input {
  box-sizing: border-box;
  padding: 9px 16px;
  width: 100%;
  height: 40px;
  background: #fdf7f2;
  border: 1px solid rgba(245, 146, 86, 0.5);
  border-radius: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(17, 17, 17, 0.6);

  &:hover,
  &:focus {
    border: 1px solid rgba(236, 94, 6, 0.815);
    outline: none;
  }
  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(17, 17, 17, 0.6);
  }
}
@media screen and (min-width: 768px) {
  .input {
    font-size: 18px;
  }

  .input::placeholder {
    font-size: 18px;
  }
}
