.button {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  /* margin-bottom: 40px; */
  cursor: pointer;
  text-decoration: none;
  font-family: Manrope, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.02857em;
  max-width: 458px;
  height: 44px;
  padding: 10px 28px;
  border-radius: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(255, 255, 255);
  background-color: #f59256;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  width: 100%;

  /* &:hover,
  &:focus {
    transition: box-shadow 250ms ease-out;
    box-shadow: 0px 0px 2px 4px rgba(245, 146, 86, 0.7);
    -webkit-box-shadow: 0px 0px 2px 4px rgba(245, 146, 86, 0.7);
    -moz-box-shadow: 0px 0px 4px 2px rgba(245, 146, 86, 0.7);
  } */
}

/* //--------- */

.button__auth_first {
  margin-bottom: 16px;
}

.button__auth_last {
  background-color: #fff;
  color: #000;
  border: 2px solid #f59256;
}

.botton__learn_more_mobile {
  width: 160px;
  @media screen and (max-width: 768px) {
    margin-bottom: 12px;
    width: 100%;
  }
}
