.container {
  padding: 40px 20px;
}

.title {
  font-weight: 500;
  font-size: 24px;
  color: var(--black-color);
  margin-bottom: 20px;
  text-align: center;
}

.text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: var(--black-color);
  text-align: center;
  margin-bottom: 20px;
}

.radio_category {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.label {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.44;
color: var(--black-color);
margin-bottom: 8px;
}

.label_other{
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.44;
  color: var(--black-color);
  margin-bottom: 16px;
  }

.radio_label {
  padding: 8px 28px;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  letter-spacing: 0.04em;
  display: inline-block;
  background-color: var(--white-color);
  border-radius: 40px;
  border: 2px solid var(--accent-color);
  color: var(--black-color);
  cursor: pointer;
  margin-bottom: 12px;
}

.radio_label:hover,
.radio_label:focus{
  outline-color: var(--accent-color);
  color: var(--white-color);
  background-color: var(--accent-color);
}

.radio_btn {
  /* position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden; */
}

.field{
display: block;
width: 90%;
margin-bottom: 16px;
background: var(--bg-color);
border: 1px solid var(--form-input-border-color);
border-radius: 40px;

font-weight: 400;
font-size: 14px;
padding: 12px 14px 12px 14px;
color: rgba(27, 27, 27, 0.6);
outline-color: var(--accent-color);
}

.field:hover,
.field:focus {
    outline-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    background-color: var(--white-color);
}

.field_last {
    display: block;
width: 90%;
margin-bottom: 16px;
background-color: var(--bg-color);
border: 1px solid var(--form-input-border-color);
border-radius: 40px;

font-weight: 400;
font-size: 14px;
padding: 12px 14px 12px 14px;
color: rgba(27, 27, 27, 0.6);
outline-color: var(--accent-color);
    margin-bottom: 40px;
    
    /* height: 16px; */
    resize: none;
    overflow: hidden;
    
    
}

.field_last:hover,
.field_last:focus {
    outline-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    background-color: var(--white-color);
}


.btn_item:not(:last-child){
    margin-bottom: 12px;

}

.btn{
    display: block;
    width: 240px;
align-items: center;
    padding: 9px;
    background-color: var(--white-color);
border-radius: 40px;
border:2px solid var(--accent-color); 
color:var(--black-color);
font-weight: 500;
font-size: 16px;
letter-spacing: 0.04em;
}

.btn:hover,
.btn:focus{
color:var(--white-color);
background-color: var(--accent-color);
border-color: transparent; 
}

.radio_sex {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 32px;
}


.radio_label_sex {
    width: 50%;
}

.radio_icon{
    display: block;
}
.item {
  display: flex;
  /*  align-items: center; */

  font-size: 14px;
}
.item:not(:last-child) {
  margin-bottom: 8px;
}


.radio_icon_text{
    font-weight: 500;
font-size: 18px;
line-height: 1.44;
color: var(--black-color);
}

.field_photo{
    display: block;
    width: 116px;
    height: 116px;
    margin-bottom: 28px;
    border-radius: 20px;
    border: 1px solid var(--form-input-border-color);
    outline-color: var(--accent-color);
    cursor: pointer;
    background-color: var(--bg-color);
    background-image: url(../../images/akar-icons_plus.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
    
.field_photo:hover,
.field_photo:focus {
    outline-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    background-color: var(--white-color);
}

.img_photo{
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

/* .checked{
  background: red;
} */
.article{
  background: red;
}


