.logoLink {
  box-sizing: border-box;
  background-color: var(--bg-color);
}
.logoLink:hover {
  background-color: var(--bg-color);
}
.logoLink:active {
  background-color: var(--bg-color);
}

.logoImg {
  display: inline;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .logoImg {
    position: relative;
    max-width: 82px;
    height: 42px;
  }
}
@media screen and (min-width: 768px) {
  .logoImg {
    /* position: relative; */
    max-width: 94px;
    height: 48px;
    /* margin-right: 246px; */
  }
}
