.iconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 20px;
  margin-bottom: 42px;
}

.logo {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: 7%;
}

.letter {
  color: #f59256;
}
