.layout_container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 0px;
  width: 320px;
}

@media screen and (min-width: 768px) {
  .layout_container {
    margin-left: auto;
    margin-right: auto;
    min-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 24px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .layout_container {
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
}
