form {
  display: flex;
  gap: 15px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

form > div > input {
  width: 50%;
}
form > div:last-child {
  display: flex;
  flex-flow: row;
}
