.conteiner_foto {
  width: 233px;
  height: 233px;
  margin-left: 23px;
  margin-right: 24px;
  margin-bottom: 12px;
  margin-top: 20px;
}

.form_user_input{
  display: inline;
}

.td_user {
  padding: 0;
  text-align: left;
}

.foto_img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: fill;
  cursor: pointer;
  border-radius: 50%;
}

.foto_svg_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto_svg {
  height: 85%;
  width: 85%;
  object-fit: fill;
  border-radius: 50%;
}

.text_user {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  color: var(--black-color);
}

.container_text {
  margin-left: 16px;
  margin-right: 12px;
  margin-bottom: 12px;
  width: 252px;
  border: 0;
  border-spacing: 0 8px;
}

.button_pencil {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--bg-color);
  border: 0;
}

.pencil {
  width: 12px;
  height: 12px;
  fill: var(--accent-color);
  object-fit: fill;
}

.pencil_disabled {
  width: 12px;
  height: 12px;
  fill: var(--black-color);
  object-fit: fill;
}

.check {
  width: 14px;
  height: 12px;
  fill: var(--accent-color);
  object-fit: fill;
}

.input {
  width: 159px;

  background-color: var(--bg-color);

  border: 0;
  border-radius: 40px;
  font-size: 12px;
  line-height: 1.4;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 18px;
}

.input:focus-visible {
  border: 0;
  outline: 0;
}

@media screen and (min-width: 768px) {
  .td_user {
    padding: 0;
    text-align: left;
  }

  .form_user_input{
    display: inline;
  }

  .container_text {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 30px;
    width: 356px;
    border: 0;
    border-spacing: 0 4px;
  }

  .text_user {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
  }

  .input {
    width: 210px;

    background-color: var(--bg-color);

    border: 0;
    border-radius: 40px;
    font-size: 18px;
    line-height: 1.4;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 12px;
  }

  .button_pencil {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--bg-color);
    border: 0;
  }

  .pencil {
    width: 15px;
    height: 15px;
    fill: var(--accent-color);
    object-fit: fill;
  }

  .pencil_disabled {
    width: 15px;
    height: 15px;
    fill: var(--black-color);
    object-fit: fill;
  }

  .check {
    width: 25px;
    height: 21px;
    fill: var(--accent-color);
    object-fit: fill;
  }
}

@media screen and (min-width: 1280px) {

  .form_user_input{
    display: inline;
  }

  .td_user {
    padding: 0;
    text-align: left;
  }

  .container_text {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0;
    margin-top: 0;
    width: 363px;
    border: 0;
    border-spacing: 0 13px;
  }

  .text_user {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
  }

  .input {
    width: 159px;

    background-color: var(--bg-color);

    border: 0;
    border-radius: 40px;
    font-size: 12px;
    line-height: 1.4;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 18px;
  }

  .button_pencil {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--bg-color);
    border: 0;
  }

  .pencil {
    width: 15px;
    height: 15px;
    fill: var(--accent-color);
    object-fit: fill;
  }

  .pencil_disabled {
    width: 15px;
    height: 15px;
    fill: var(--black-color);
    object-fit: fill;
  }

  .check {
    width: 25px;
    height: 21px;
    fill: var(--accent-color);
    object-fit: fill;
  }

  .input {
    width: 210px;

    background-color: var(--bg-color);

    border: 0;
    border-radius: 40px;
    font-size: 18px;
    line-height: 1.4;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 12px;
  }
}
