.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.37;
  text-align: center;
  color: var(--black-color);
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
    margin-bottom: 40px;
  }
}

.container {
  margin-top: 42px;
}

@media screen and (min-width: 768px) {
  .container {
    margin-top: 88px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    margin-top: 58px;
  }
}
