.divTest {
  display: flex;
}

@media screen and (max-width: 767px) {
  .divTest {
    display: none;
  }
}

.auth {
  display: block;
}

@media screen and (max-width: 767px) {
  .auth {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .auth {
    display: flex;
  }
}

.userButton {
  border-radius: 40px;
  border: 2px solid #f59256;
  color: #ffffff;
  background: #f59256;
  padding: 5px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  margin-right: 20px;
}

.userLink {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-left: 10px;
}
