.overlay {
  /* position: absolute; */
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  z-index: 999;
  /* background-color: aqua; */
}

.menu {
  border: 1px solid var(--accent-color);
  position: absolute;
  z-index: 999;
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
  color: var(--black-color);
  background-color: var(--white-color);
  text-align: center;
  border-radius: 8px;
  padding: 12px;
}

.item {
  position: relative;
  text-align: left;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-style: 12px;
  line-height: 1.37;
}

.item:not(:last-child) {
  margin-bottom: 4px;
}
