.container {
  position: relative;
  align-items: center;
  text-align: center;
  width: auto;
  background-color: var(--bg-color);
}

.title {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  line-height: 1.37;
  font-family: 'Manrope', sans-serif;
  color: black;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
    margin-bottom: 40px;
  }
}

@media screen and(min-width: 1280px) {
  .title {
    margin-bottom: 60px;
  }
}

.container {
  margin-top: 42px;
}

@media screen and (min-width: 768px) {
  .container {
    margin-top: 88px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    margin-top: 58px;
  }
}