.container {
  position: relative;
  align-items: center;
  text-align: center;
  width: auto;
  background-color: var(--bg-color);
}

.title {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  line-height: 1.37;
  font-family: 'Manrope', sans-serif;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
  }
}
