.container {
  width: 280px;
}

.title {
  margin-bottom: 18px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  letter-spacing: 0.04em;
  color: var(--black-color);
}

.container_userInfo {
  width: 280px;
  height: 537px;
  margin-bottom: 40px;
}

.container__userdata {
  margin-bottom: 45px;
  width: 100%;
  height: 537px;
  box-shadow: 0px 0px 0px;
  background-color: var(--bg-color);
  border-radius: 20px;
}

.container_desktop {
  width: 100%;
  height: 537px;
  box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
  background-color: #fff;
  border-radius: 20px;
}

.container_pets {
  margin-left: 0;
  padding-top: 47px;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.container__petsdata {
  display: flex;
  flex-flow: row;
  width: 100%;

}


@media screen and (min-width: 768px) {
  .container__userdata {
    margin-bottom: 20px;
    height: 311px;
    width: 672px;
    box-shadow: 0px 0px 0px;
    background-color: var(--bg-color);
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: -32px;
    
  }

  .container_desktop {
    margin-bottom: 20px;
    height: 311px;
    box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 30px;
    padding-left: 32px;
  }

  .container_tablet {
    display: flex;
    flex-direction: column;
  }

  .container_tablet_tab {
    display: flex;
    flex-direction: column;
    width: 370px;
    padding-left: 0;
    margin-left: 0;
    gap: 35px;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 704px;
  }

  .title {
    margin-bottom: 18px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.4;
    display: flex;
    letter-spacing: 0.04em;
    color: var(--black-color);
    margin-left: 32px;
  }

  .container_pets {
    margin-left: 0;
    padding-top: 0;
    width: 100%;
    display: flex;
    flex-flow: column;
  }
}

@media screen and (min-width: 1280px) {
  .container__userdata {
    width: 411px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-left: -16px;
    box-shadow: 0px 0px 0px;
    background-color: var(--bg-color);
    border-radius: 0;
  }

  .container_desktop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 411px;
    height: 541px;
    box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    border-radius: 0 20px 20px 0;
    padding-left: 0;
    gap: 0;
    margin-bottom: 0;
  }

  .container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 1248px;
  }

  .container_tablet_tab {
    display: flex;
    flex-direction: column;
    width: 411px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    gap: 0;
  }

  .title {
    margin-bottom: 24px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 27px;
    display: flex;
    letter-spacing: 0.04em;
    color: var(--black-color);
    margin-left: 16px;
  }
}
