.container {
  display: flex;
  flex-flow: row;
  width: 100%;
}

.container_userInfo {
  width: 50%;
  display: flex;
  flex-flow: column;
}

.container__userdata {
  margin-bottom: 5px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
  background-color: #fff;
  border-radius: 20px;
}

.userPhoto {
  width: 50%;
  display: flex;
  flex-flow: column;
  gap: 5px;
}

.container_pets {
  margin-left: 20px;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.container__petsdata {
  display: flex;
  flex-flow: row;
  width: 100%;
  box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
  background-color: #fff;
  border-radius: 20px;
}

.title {
  margin-bottom: 18px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  letter-spacing: 0.04em;
  color: var(--black-color);
}


@media only screen and (max-width: 1280) {
  .container__userdata {
    flex-flow: column;}
  }

@media screen and (min-width: 768px) {
  .container__userdata {
    margin-bottom: 47px;
  
    width: 736px;
    height: 311px;
    box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    margin-left: -32px;

  }
}
