.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px 20px 40px 20px;
    /* min-height: 300px; */
    min-width: 280px;
    /* max-width: calc(100vw - 48px);
    max-height: calc(100vh - 24px); */
    background-color: #fff;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background-color: rgba(17, 17, 17, 0.6);
    z-index: 1200;
  }
  
  .icon {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: none;
    background-color: rgba(253, 247, 242, 1);
  }
  
  