.menuModal {
  position: absolute;
  left: 0;
  top: 20;
  display: block;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: rgba(253, 247, 242, 1);

}

.header {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding-top: 22px;
  }
}

.btnAuthNavTabDes {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .btnAuthNavTabDes {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.btnBurMenuMobTab {
  margin-left: 25px;
}

.menuNavMobTab {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .menuNavMobTab {
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .btnBurMenuMobTab {
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {

  .menuNavMobTab,
  .btnBurMenuMobTab {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.btnAuthNavMob {
  margin-top: 46px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .btnAuthNavMob {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media screen and (max-width: 1279px) {
  .menuNavDes {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.btnBurMenu {
  fill: var(--black-color);
  stroke: var(--black-color);
}

.btnBurMenu:active,
.btnBurMenu:hover {
  cursor: pointer;
  fill: var(--accent-color);
  stroke: var(--accent-color);
}