.header {
  /* display: block; */
  display: flex;
  /* width: 100%; */
  /* justify-content: space-between; */
  align-items: center;
  padding-top: 16px;
  padding-bottom: 42px;
}

.btnAuthNav {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 88px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding-top: 22px;
    padding-bottom: 58px;
  }
}