/* .header {
  font-size: 20px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.headerContainer {
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
} */

.headerWrapper {
  display: block;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf7f2;
  margin: 0;
  margin-top: 0px;
  padding-top: 16px;
  padding-bottom: 42px;
}

@media screen and (min-width: 768px) {
  .headerWrapper {
    display: block;
    padding-top: 24px;
    padding-bottom: 88px;
  }
}

@media screen and (min-width: 1280px) {
  .headerWrapper {
    width: 100%;

    display: flex;
    padding-top: 20px;
    padding-bottom: 59px;
  }
}




.wrapper {
  display: flex;
  align-items: center;
  gap: 80px;
}

.userWrapper {
  display: flex;
  align-items: center;
}
