.auth {
  display: block;
}
@media screen and (max-width: 767px) {
  .auth {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .ul {
    display: flex;
  }
  :hover {
    background-color: #f59256;
    color: #ffffff;
    cursor: pointer;
  }
}

.linkStyled {
  padding: 8px 28px;
  color: #111111;
  border-radius: 40px;
  border: 2px solid #f59256;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;}

  .linkStyled:active {
    /* background-color: ; */
    /* color: ; */
  }

  .linkStyled:hover {
    color: #ffffff;
    background-color: #f59256;
  }

  @media screen and (min-width: 768px) {
    .linkStyled {
    margin-right: 12px;
    font-weight: 500;
    font-size: 20px;
    }
  }