.add_btn {
  top: 290px;

  right: 32px;
  z-index: 10;
  position: fixed;

  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  border-radius: 50%;
  border: 2px solid transparent;
  color: var(--white-color);

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.add_btn:hover,
:focus {
  color: var(--accent-color);
  background-color: var(--white-color);
  border-color: var(--accent-color);
}