.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  background: var(--white-color);
  padding-top: 14px;
  padding-bottom: 12px;
}

@media screen and (max-width: 767px) {
  .item:not(:last-child) {
    margin-bottom: 12px;
  }
}

/* .item:not(:last-child) {
  margin-bottom: 12px;
} */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.textContainer {
  text-align: left;
  width: 150px;
  margin-right: 4px;
}

.textContainer > p {
  font-size: 12px;
}

.text_span {
  display: block;
}

.title {
  margin-bottom: 10px;
}

.titleLink {
  color: var(--accent-color);
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.37;
}

.imageContainer {
  margin-right: 12px;
  margin-left: 4px;
  height: 78px;
  width: 110px;
}

.image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.adressLink {
  text-decoration: none;
  color: var(--black-color);
}

.adressLink:hover,
.adressLink:focus {
  color: var(--link-color);
  cursor: pointer;
}

.text {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.37;
  text-decoration: none;
  color: var(--black-color);
}

.text:not(:last-child) {
  margin-bottom: 4px;
}

.link {
  text-decoration: none;
  color: var(--black-color);
}

.link:hover,
.link:focus {
  color: var(--link-color);
  cursor: pointer;
}

.isOpen:hover,
.isOpen:focus {
  color: var(--link-color);
  cursor: pointer;
}

.statusOpened {
  font-family: 'Manrope', sans-serif;
  font-style: italic;
  font-size: 8px;
  color: #03c03c;
}

.statusClosed {
  font-family: 'Manrope', sans-serif;
  font-style: italic;
  font-size: 10px;
  font-weight: 700;
  color: #f40009;
}

@media screen and (min-width: 768px) {
  .item {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 4px;
    box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
    border-radius: 40px;
    min-height: auto;
    margin-bottom: 0;
  }

  .container {
    justify-content: flex-start;
  }

  .title {
    margin-bottom: 16px;
  }

  .titleLink {
    font-size: 16px;
  }

  .text {
    font-size: 14px;
  }

  .text:not(:last-child) {
    margin-bottom: 8px;
  }

  .statusClosed {
    font-size: 12px;
  }

  .statusOpened {
    font-size: 12px;
  }
}
