.newsList {
  margin-top: 40px;
  margin-bottom: 100px;
}

.newsItem {
  margin-bottom: 40px;
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  color: var(--black-color);
}

.newsTitleList {
  padding-top: 8px;
  margin-bottom: 16px;
  position: relative;
  height: 78px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.01em;
}

.newsTitleList::before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  height: 4px;
  width: 100%;
  background: linear-gradient(90deg, #ff634e 0%, #ffdf48 105.44%);
  border-radius: 40px;
}

.newsDateAndLink {
  display: flex;
  justify-content: space-between;
}

.newsDescription {
  height: 154px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  color: #111321;
}

.newsDateAndLink {
  margin-top: 20px;
}

.newsDate {
  color: rgba(17, 17, 17, 0.6);
}

.newsLink {
  text-decoration-line: underline;
  font-weight: 500;
  color: var(--accent-color);
}

.notNewsFound {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.01em;
  margin: auto;
  margin-top: 40px;
}

.notNewsFoundText {
  color: var(--black-color);
}

@media screen and (min-width: 768px) {
  .newsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-top: 60px;
  }

  .newsItem {
    margin-bottom: 28px;
  }

  .newsDescription {
    height: 132px;
    -webkit-line-clamp: 6;
  }

  .newsTitleList {
    padding-top: 12px;
  }

  .newsTitleList::before {
    height: 8px;
  }

  .newsDateAndLink {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .newsList {
    grid-template-columns: repeat(3, 1fr);
  }

  .newsDescription {
    height: 110px;
    -webkit-line-clamp: 5;
  }
}
