.item {
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #111111;
  margin-bottom: 40px;
  list-style: none;
}

.titleList {
  margin-top: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
  position: relative;
  padding-top: 12px;
  height: 78px;
  overflow: hidden;
}

.titleList::before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  background: linear-gradient(90deg, #ff634e 0%, #ffdf48 105.44%);
  border-radius: 40px;
  height: 8px;
  top: 0px;
}

.dateAndLink {
  display: flex;
  justify-content: space-between;
}

.dataNews {
  margin-bottom: 20px;
  height: 154px;
  overflow: hidden;
}

.linkNews {
  text-decoration-line: underline;
  color: #f59256;
}

/* ---------------------------------------- */
.newsList {
  margin-bottom: 100px;
}

.notNewsFound {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.01em;
  margin: auto;
  margin-top: 40px;
}

.notNewsFoundText {
  color: #111111;
}