.list {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.header_not_found {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}
