.conteiner_foto {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 23px;
  margin-right: 24px;
  margin-bottom: 12px;
  padding-top: 20px; */
}

.foto_img {
  display: block;
  height: 233px;
  width: 233px;
  margin-top: 15px;
  margin-right: 20px;
  object-fit: fill;
  border-radius: 50%;
  object-fit: cover;
}

.foto_svg_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.foto_svg {
  height: 100%;
  width: 100%;
  object-fit: fill;
  /* border-radius: 50%; */
  /* margin-right: 15px; */
}
