.conteiner_foto {
  height: 233px;
  width: 233px;
  margin-left: 23px;
  margin-right: 24px;
  margin-bottom: 12px;
  padding-top: 20px;
}

.foto_img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  object-fit: cover;
}

.foto_svg_container {
  height: 233px;
  width: 233px;
  margin-left: 23px;
  margin-right: 24px;
  margin-bottom: 12px;
  padding-top: 20px;
}

.foto_svg {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .conteiner_foto {
    height: 253px;
    width: 233px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .conteiner_foto {
    height: 253px;
    width: 233px;
    margin-left: 89px;
    margin-right: 89px;
    margin-bottom: 0;
    padding-top: 20px;
  }
}
