


.h1 {
  position: absolute;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: black;
  top: 118px;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .h1 {
    font-size: 68px;
    line-height: 100px;
    padding-top: 0px;
    top: 160px;
    margin-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .h1 {
    font-size: 68px;
    line-height: 100px;
    top: 160px;
    margin-left: 15px;
  }
}

/* .page {
  margin: 0;
  padding: 0;
} */
@media screen and (max-width: 767px) {
  .page {
    height: 601px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -16px;
    background-image: url('../../images/mobile/dogMobile.webp'),
      url('../../images/mobile/waveMobile.webp');
    background-repeat: no-repeat;
    background-position: top 235px right -10px, top 151px right 0px;
    background-size: auto, 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .page {
    height: 1193px;
    margin-left: -32px;
    margin-right: -32px;
    margin-bottom: -24px;
    background-image: url('../../images/tablet/dogTablet.webp'),
      url('../../images/tablet/waveTablet.webp');
    background-repeat: no-repeat;
    background-position: top 440px right 52px, top 115px right 0px;
    background-size:auto, 100%;
  }
}
@media screen and (min-width: 1280px) {
  .page {
    height: 768px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -20px;
    background-image: url('../../images/unionDesk.svg'),
      url('../../images/desktop/dogDesktop.webp'),
      url('../../images/desktop/waveDesktop.webp'),
      url('../../images/desktop/waveDesktop2.webp');
    background-repeat: no-repeat;
    background-position: top 118px right 480px, top 160px right 18px, top 359px right 170px, top 375px right 0px;
    /* background-size:cover, cover, cover, cover; */
  }
}