
.h1 {
  position: absolute;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: black;
  top: 118px;
}
@media screen and (min-width: 768px) {
  .h1 {
    font-size: 68px;
    line-height: 100px;
    padding-top: 0px;
    top: 160px;
  }
}
@media screen and (min-width: 1280px) {
  .h1 {
    font-size: 68px;
    line-height: 100px;
    top: 160px;
  }
}

.page {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .page {
    width:100%;
    background-size: 100%;
    min-height: 601px;
    background-image: url('../../images/mobile/dogMobile.webp'),
      url('../../images/mobile/waveMobile.webp');
      background-repeat: no-repeat;
    /* background-position: top 235px right -10px, top 151px right 0px; */
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .page {
    height: 1193px;
    background-image: url('../../images/tablet/dogTablet.webp'),
      url('../../images/tablet/waveTablet.webp');
    background-repeat: no-repeat;
    background-position: top 440px right 52px, top 115px right 0px;
  }
}
@media screen and (min-width: 1280px) {
  .page {
    height: 768px;
    background-image: url('../../images/unionDesk.svg'),
      url('../../images/desktop/dogDesktop.webp'),
      url('../../images/desktop/waveDesktop.webp'),
      url('../../images/desktop/waveDesktop2.webp');
    background-repeat: no-repeat;
    background-position: top 118px right 480px, top 160px right 18px, top 359px right 170px, top 375px right 0px
  }
}
