.h1 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: black;
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .h1 {
    font-size: 68px;
    line-height: 100px;
    padding-top: 88px;
  }
}
@media screen and (min-width: 1280px) {
  .h1 {
    padding-top: 92px;
  }
}

.page {
  height: calc(100vh - 64px);
  padding: 0 20px;
  background-image: url('../../images/mobile/dogMobile.webp'),
    url('../../images/mobile/waveMobile.webp');
  background-repeat: no-repeat;
  background-position: bottom 0 right 20px, top 115px right 0px;
  background-size: 280px auto, cover;
}

@media screen and (min-width: 768px) {
  .page {
    height: 1115px;
    background-image: url('../../images/tablet/dogTablet.webp'),
      url('../../images/tablet/waveTablet.webp');
    background-repeat: no-repeat;
    background-position: top 368px right 52px, top 15px right 0px;
    background-size: 736px auto, cover;
  }
}
@media screen and (min-width: 1280px) {
  .page {
    max-height: calc(100vh - 74px);
    background-image: url('../../images/unionDesk.svg'),
      url('../../images/desktop/dogDesktop.webp'),
      url('../../images/desktop/waveDesktop.webp'),
      url('../../images/desktop/waveDesktop2.webp');
    background-repeat: no-repeat;
    background-position: top 59px right 505px, top 92px right 18px,
      top 291px right 170px, top 327px right -49px;
    background-size: 91px auto, 524px auto, 1178px auto, 425px auto;
  }
}
