.navigation {
  margin: 0;
  margin-left: 80px;
  padding: 0;
  display: flex;
  gap: 80px;
  list-style: none;
  white-space: nowrap;
}

@media screen and (max-width: 1279px) {
  .navigation {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.navItem {
  font-weight: 500;
}

.linkStyled {
  color: #111111;
  text-decoration: none;
  font-size: 20px;
}

.linkStyled:hover,
.linkStyled:active {
  color: #f59256;
  cursor: pointer;
}