* {
  margin: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 1280px) {
  .Wrapper {
    display: none;
  }
}

.bg {
  width: 105%;
  height: 5em;
  /* background-color: rgb(37, 39, 53); */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 1em; */
}
@media screen and (max-width: 767px) {
  .bg {
    height: 3.5em;
  }
}

.burgerMenu {
  height: 55%;
  width: 3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}
@media screen and (min-width: 320px) {
  .burgerMenu {
    width: 3em;
  }
}
@media screen and (min-width: 500px) {
  .burgerMenu {
    width: 4em;
  }
}
@media screen and (min-width: 700px) {
  .burgerMenu {
    width: 3em;
  }
}
@media screen and (min-width: 1000px) {
  .burgerMenu {
    width: 4em;
  }
}

.burger-bar {
  width: 40px;
  height: 6px;
  background-color: #212121;
  border-radius: 0.5em;
}
@media screen and (max-width: 767px) {
  .burger-bar {
    height: 5px;
  }
}

.menu {
  width: 100%;
  height: 444vh;
  background-color: #fdf7f2;
  position: absolute;
  top: 72px;
  left: 0;
  z-index: 1;
  padding-top: 45px;
}

@media screen and (min-width: 768px) {
  .menu {
    width: 103%;
    height: 444vh;
    background-color: #fdf7f2;
    position: absolute;
    top: 95px;
    left: 0;
    z-index: 1;
  }
}

/* SlidingMenu */

.visible {
  display: inherit;
}

.hidden {
  display: none;
}

.div {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .div {
    display: none;
  }
}

.bgNews {
  display: flex;
  flex-direction: column;
  list-style: none;

  padding-top: 70px;
}
@media screen and (min-width: 320px) {
  .bgNews {
    padding-top: 0;
  }
}

.auth {
  padding-bottom: 60px;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (min-width: 768px) {
  .auth {
    display: none;
  }
}

/* .linkNews {
  margin-left: 35px;
  margin-bottom: 40px;
  color: #181c27;
}
@media screen and (min-width: 768px) {
  .linkNews {
    margin-left: 55px;
    padding-top: 35px;
  }
} */

.linkStyled {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #111111;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .linkStyled {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 66px;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1280px) {
  .linkStyled {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
  }
}
.linkStyled:hover {
  font-weight: 700;
}
@media screen and (max-width: 1280px) {
  .linkStyled:hover {
    text-decoration-line: underline;
  }
}
.linkStyled:active {
  font-weight: 700;
}
@media screen and (max-width: 1280px) {
  .linkStyled:active {
    text-decoration-line: underline;
  }
}

.linkStyled {
  color: #111111;
  text-decoration: none;
  font-size: 20px;
}

.linkStyled:hover {
  color: #f59256;
  cursor: pointer;
}

.linkStyled:active {
  color: #f59256;
  cursor: pointer;
}
/* .find {
    margin-bottom: 40px;
  } */

/* .login {
    border-radius: 40px;
    border: 2px solid #f59256;
    background: #fdf7f2;
    color: #111111;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
  }
  
  .login:hover {
    color: #ffffff;
    background-color: #f59256;
  } */

/* .register {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    border-radius: 40px;
    border: 2px solid #f59256;
    color: #111111;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .register:hover {
    background-color: #f59256;
    color: #ffffff;
  } */

.linkRegister {
  padding: 8px 28px;
  text-decoration: none;
  color: #111111;
}

.linkRegister:hover {
  color: #ffffff;
}

.loginBg {
  border-radius: 40px;
  border: 2px solid #f59256;
  background-color: #f59256;
  color: #111111;
  padding: 5px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.linkUser {
  color: #ffffff;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.04em;
  margin-left: 10px;
}

.navItem {
  font-weight: 500;
  /* font-size: ; */
  margin-bottom: 40px;
  text-align: center;
}

/* clicked*/
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.75em, 1.15em);
  transition: ease-out 0.5s;
  width: 40px;
}

@media screen and (max-width: 767px) {
  .burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.3em, 0.99em);
    transition: ease-out 0.5s;
    width: 40px;
  }
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0.02);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.5em, 0.99em);
  transition: ease-out 0.5s;
  width: 40px;
}
@media screen and (max-width: 767px) {
  .burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-0.15em, 0.89em);
    transition: ease-out 0.5s;
    width: 40px;
  }
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
