* {
  margin: 0;
  box-sizing: border-box;
}

/* перенести в основные стили */

/* .hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

@media screen and (max-width: 767px) {
  .burgerWrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fdf7f2;
    z-index: 100;
  }
}

@media screen and (min-width: 768px) {
  .burgerWrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fdf7f2;
    z-index: 100;
  }
}

@media screen and (min-width: 1280px) {
  .burgerWrapper {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.authBurgerMenu {
  padding-bottom: 60px;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .authBurgerMenu {
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.bg {
  /* width: 105%; */
  /* height: 5em; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  background-color: inherit;
;

}


.menu_class {
  display: none;
  padding-top: 160px;
  margin: auto;
  width: 100%;
  height: 100%;
}

.linkSt {
  margin-top: 58px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 8px 28px;
  color: #111111;
  border-radius: 40px;
  border: 2px solid #f59256;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.linkSt:hover {
  background-color: #f59256;
  color: #ffffff;
  cursor: pointer;
}

.linkSt:active {
  background-color: #f59256;
  /* color: #ffffff; уже */
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .linkSt {
    margin-right: 14px;
    font-weight: 500;
    font-size: 20px;
    display: none;
  }
}

/* SlidingMenu */

.bgNews {
  display: flex;
  flex-direction: column;
  list-style: none;
 
  padding-top: 70px;
}

@media screen and (min-width: 320px) {
  .bgNews {
    padding-top: 0;
  }
}

.authBurgerMenu {
  padding-bottom: 60px;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .authBurgerMenu {
    display: none;
  }
}

.divMenu {
  position: relative;
  top:160px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #fdf7f2;
}

@media screen and (min-width: 1280px) {
  .divMenu {
    display: none;
  }
}

.linkStyled {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #111111;
  margin-left: 20px;
  text-decoration: none;
}
.linkStyled:hover {
  font-weight: 700;
  color: #f59256;
  text-decoration-line: underline;
}
.linkStyled:active {
  font-weight: 700;
  color: #f59256;
  text-decoration-line: underline;
}
@media screen and (min-width: 768px) and (max-width: 1279px){
  .linkStyled {
    font-size: 48px;
    line-height: 66px;
    letter-spacing: 0.04em;
  }
}


.loginBg {
  border-radius: 40px;
  border: 2px solid #f59256;
  background-color: #f59256;
  color: #111111;
  padding: 5px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 14px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.linkUser {
  color: #ffffff;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.04em;
  margin-left: 10px;
}

.navItem {
  font-weight: 500;
  /* font-size: ; уже */
  margin-bottom: 40px;
  text-align: center;
}

/* clicked */
.visible {
  display: inherit;
}

.hidden {
  display: none;
}

.menu {
  width: 100%;
  height: 444vh;
  background-color: #fdf7f2;
  position: absolute;
  top: 72px;
  left: 0;
  z-index: 1;
  padding-top: 45px;
}

@media screen and (min-width: 768px) {
  .menu {
    width: 103%;
    height: 444vh;
    background-color: #fdf7f2;
    position: absolute;
    top: 95px;
    left: 0;
    z-index: 1;
  }
}

.burger-bar {
  width: 40px;
  height: 6px;
  background-color: #212121;
  border-radius: 0.5em;
}

@media screen and (max-width: 767px) {
  .burger-bar {
    height: 5px;
  }
}

.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.75em, 1.15em);
  transition: ease-out 0.5s;
  width: 40px;
}

@media screen and (max-width: 767px) {
  .burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.3em, 0.99em);
    transition: ease-out 0.5s;
    width: 40px;
  }
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0.02);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.5em, 0.99em);
  transition: ease-out 0.5s;
  width: 40px;
}

@media screen and (max-width: 767px) {
  .burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-0.15em, 0.89em);
    transition: ease-out 0.5s;
    width: 40px;
  }
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
